In [24]:
import pandas as pd
import numpy as np
%run energy_df_1.ipynb

In [25]:

btu_df['Purpose_of_Usage'] = btu_df.Purpose_of_Usage.str[3:]
btu_df['Purpose'] = btu_df.Purpose_of_Usage.str[-3:]
btu_df['Type'] = btu_df.Purpose_of_Usage.str[:-3]
btu_df= btu_df.sort_values(by='DOEID')

In [26]:
btu_df.value_counts('Type')

Type
EL     60415
FO     36249
KER    36249
LP     36249
NG     36249
W      12083
dtype: int64

In [27]:
btu_df.drop('Purpose_of_Usage', inplace=True, axis=1)

In [28]:
btu_df = btu_df[['DOEID','Purpose', 'Type', 'quantity']]

In [29]:
btu_df.loc[btu_df["Purpose"] == 'OOD', "Purpose"] = "WOOD"
btu_df.loc[btu_df["Purpose"] == 'SPH', "Purpose"] = "Space Heating"
btu_df.loc[btu_df["Purpose"] == 'WTH', "Purpose"] = "Water Heating"
btu_df.loc[btu_df["Purpose"] == 'OTH', "Purpose"] = "Other"
btu_df.loc[btu_df["Purpose"] == 'RFG', "Purpose"] = "Refrigerator"
btu_df.loc[btu_df["Purpose"] == 'COL', "Purpose"] = "Air Conditioner"

In [30]:
#btu_df.groupby(['Purpose','Type'], as_index=False)['quantity'].mean()

In [31]:
btu_df_updated = btu_df

In [32]:
btu_df_updated

        DOEID          Purpose Type   quantity
0           1    Space Heating   LP      0.000
193328      1     Refrigerator   EL   5170.899
24166       1            Other   LP      0.000
181245      1  Air Conditioner   EL  10470.729
36249       1    Space Heating   NG      0.000
...       ...              ...  ...        ...
157078  12083    Space Heating   EL    327.116
169161  12083    Water Heating   EL      0.000
181244  12083            Other   EL   4262.461
96663   12083    Water Heating   FO      0.000
217493  12083             WOOD    W      0.000

[217494 rows x 4 columns]