In [8]:
import pandas as pd
import numpy as np
%run energy_df_1.ipynb

In [9]:

cufeet_df['Purpose_of_Usage'] = cufeet_df.Purpose_of_Usage.str[6:]
cufeet_df['Purpose'] = cufeet_df.Purpose_of_Usage.str[-3:]
cufeet_df

       DOEID Purpose_of_Usage  quantity Purpose
0          1            NGSPH     0.000     SPH
1          2            NGSPH   376.643     SPH
2          3            NGSPH   392.662     SPH
3          4            NGSPH   392.152     SPH
4          5            NGSPH   352.549     SPH
...      ...              ...       ...     ...
36244  12079            NGOTH     0.000     OTH
36245  12080            NGOTH    19.949     OTH
36246  12081            NGOTH   192.014     OTH
36247  12082            NGOTH    32.810     OTH
36248  12083            NGOTH    25.647     OTH

[36249 rows x 4 columns]

In [10]:
cufeet_df['Type'] = cufeet_df.Purpose_of_Usage.str[0:-3]
cufeet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36249 entries, 0 to 36248
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DOEID             36249 non-null  int64
 1   Purpose_of_Usage  36249 non-null  object
 2   quantity          36249 non-null  float64
 3   Purpose           36249 non-null  object
 4   Type              36249 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ MB

In [11]:
cufeet_df = cufeet_df[['DOEID', 'Type', 'Purpose', 'quantity']]
cufeet_df.sort_values(by='DOEID')
cufeet_df.value_counts('Type')

Type
NG    36249
dtype: int64

In [12]:
cufeet_df.loc[cufeet_df["Purpose"] == 'OOD', "Purpose"] = "WOOD"
cufeet_df.loc[cufeet_df["Purpose"] == 'SPH', "Purpose"] = "Space Heating"
cufeet_df.loc[cufeet_df["Purpose"] == 'WTH', "Purpose"] = "Water Heating"
cufeet_df.loc[cufeet_df["Purpose"] == 'OTH', "Purpose"] = "Other"
cufeet_df.loc[cufeet_df["Purpose"] == 'RFG', "Purpose"] = "Refrigerator"
cufeet_df.loc[cufeet_df["Purpose"] == 'COL', "Purpose"] = "Air Conditioner"

In [13]:
cufeet_df.groupby(['Type', 'Purpose'], as_index=True).mean('CUBIC_FEET')

                     DOEID    quantity
Type Purpose
NG   Other          6042.0   46.166379
     Space Heating  6042.0  249.091509
     Water Heating  6042.0  110.050895

In [14]:
cufeet_df_updated = cufeet_df