In [57]:
import pandas as pd
import re
import numpy as np

data_csv = pd.read_csv('recs2009_public.csv')
data = pd.DataFrame(data_csv)
liste = ['DOEID', 'KWHSPH', 'KWHWTH', 'KWHOTH', 'KWHCOL', 'KWHRFG', 'BTULPSPH', 'BTULPWTH', 'BTULPOTH', 'BTUNGSPH', 'BTUNGWTH', 'BTUNGOTH', 'BTUFOSPH', 'BTUFOWTH', 'BTUFOOTH', 'BTUKERSPH', 'BTUKERWTH', 'BTUKEROTH', 'BTUELSPH', 'BTUELWTH', 'BTUELOTH', 'GALLONLPSPH', 'GALLONLPWTH', 'GALLONLPOTH', 'GALLONFOSPH', 'GALLONFOWTH', 'GALLONFOOTH', 'GALLONKERSPH', 'GALLONKERWTH', 'GALLONKEROTH', 'CUFEETNGSPH', 'CUFEETNGWTH', 'CUFEETNGOTH', 'BTUELCOL', 'BTUELRFG', 'BTUWOOD']

kwh_liste = ['DOEID']
btu_liste = ['DOEID']
gallon_liste = ['DOEID']
cufeet_liste = ['DOEID']

In [58]:

for label in liste:
    if "KWH" in  label:
        kwh_liste.append(label)
    if 'BTU' in label:
        btu_liste.append(label)
    if 'GALLON' in label:
        gallon_liste.append(label)
    if 'CUFEET' in label:
        cufeet_liste.append(label)
    else:
        None

kwh_df = data[kwh_liste]
btu_df = data[btu_liste]
gallon_df = data[gallon_liste]
cufeet_df = data[cufeet_liste]

kwh_df = kwh_df.melt(id_vars='DOEID', var_name='Purpose_of_Usage', value_name = 'KWH' )
btu_df = btu_df.melt(id_vars='DOEID', var_name='Purpose_of_Usage', value_name = 'BTU' )
gallon_df = gallon_df.melt(id_vars='DOEID', var_name='Purpose_of_Usage', value_name = 'GALLON' )
cufeet_df = cufeet_df.melt(id_vars='DOEID', var_name='Purpose_of_Usage', value_name = 'CUBIC_FEET' )

In [59]:
kwh_df

       DOEID Purpose_of_Usage       KWH
0          1           KWHSPH  3186.707
1          2           KWHSPH     0.000
2          3           KWHSPH     0.000
3          4           KWHSPH     0.000
4          5           KWHSPH     0.000
...      ...              ...       ...
60410  12079           KWHRFG   566.544
60411  12080           KWHRFG   580.105
60412  12081           KWHRFG  2172.621
60413  12082           KWHRFG  1851.648
60414  12083           KWHRFG   418.766

[60415 rows x 3 columns]

In [60]:

"""btu_df['Purpose_of_Usage'] = btu_df.Purpose_of_Usage.str[3:]
btu_df['Purpose'] = btu_df.Purpose_of_Usage.str[-3:]
btu_df['Type'] = btu_df.Purpose_of_Usage.str[:-3]
btu_df= btu_df.sort_values(by='DOEID')"""

"btu_df['Purpose_of_Usage'] = btu_df.Purpose_of_Usage.str[3:]\nbtu_df['Purpose'] = btu_df.Purpose_of_Usage.str[-3:]\nbtu_df['Type'] = btu_df.Purpose_of_Usage.str[:-3]\nbtu_df= btu_df.sort_values(by='DOEID')"

In [61]:
"""btu_df.drop('Purpose_of_Usage', inplace=True, axis=1)
btu_df = btu_df[['DOEID','Purpose', 'Type', 'quantity']]
btu_df.loc[btu_df["Purpose"] == 'OOD', "Purpose"] = "WOOD"
btu_df.loc[btu_df["Purpose"] == 'SPH', "Purpose"] = "Space Heating"
btu_df.loc[btu_df["Purpose"] == 'WTH', "Purpose"] = "Water Heating"
btu_df.loc[btu_df["Purpose"] == 'OTH', "Purpose"] = "Other"
btu_df.loc[btu_df["Purpose"] == 'RFG', "Purpose"] = "Refrigerator"
btu_df.loc[btu_df["Purpose"] == 'COL', "Purpose"] = "Air Conditioner"""

'btu_df.drop(\'Purpose_of_Usage\', inplace=True, axis=1)\nbtu_df = btu_df[[\'DOEID\',\'Purpose\', \'Type\', \'quantity\']]\nbtu_df.loc[btu_df["Purpose"] == \'OOD\', "Purpose"] = "WOOD"\nbtu_df.loc[btu_df["Purpose"] == \'SPH\', "Purpose"] = "Space Heating"\nbtu_df.loc[btu_df["Purpose"] == \'WTH\', "Purpose"] = "Water Heating"\nbtu_df.loc[btu_df["Purpose"] == \'OTH\', "Purpose"] = "Other"\nbtu_df.loc[btu_df["Purpose"] == \'RFG\', "Purpose"] = "Refrigerator"\nbtu_df.loc[btu_df["Purpose"] == \'COL\', "Purpose"] = "Air Conditioner'

In [62]:
"""btu_df"""

'btu_df'