In [86]:
import pandas as pd
import re
import numpy as np

data_csv = pd.read_csv('recs2009_public.csv')
data = pd.DataFrame(data_csv)
liste = ['DOEID', 'KWHSPH', 'KWHWTH', 'KWHOTH', 'KWHCOL', 'KWHRFG', 'BTULPSPH', 'BTULPWTH', 'BTULPOTH', 'BTUNGSPH', 'BTUNGWTH', 'BTUNGOTH', 'BTUFOSPH', 'BTUFOWTH', 'BTUFOOTH', 'BTUKERSPH', 'BTUKERWTH', 'BTUKEROTH', 'BTUELSPH', 'BTUELWTH', 'BTUELOTH', 'GALLONLPSPH', 'GALLONLPWTH', 'GALLONLPOTH', 'GALLONFOSPH', 'GALLONFOWTH', 'GALLONFOOTH', 'GALLONKERSPH', 'GALLONKERWTH', 'GALLONKEROTH', 'CUFEETNGSPH', 'CUFEETNGWTH', 'CUFEETNGOTH', 'BTUELCOL', 'BTUELRFG', 'BTUWOOD']

kwh_liste = ['DOEID']
btu_liste = ['DOEID']
gallon_liste = ['DOEID']
cufeet_liste = ['DOEID']

In [87]:

for label in liste:
    if "KWH" in  label:
        kwh_liste.append(label)
    if 'BTU' in label:
        btu_liste.append(label)
    if 'GALLON' in label:
        gallon_liste.append(label)
    if 'CUFEET' in label:
        cufeet_liste.append(label)
    else:
        None

kwh_df = data[kwh_liste]
btu_df = data[btu_liste]
gallon_df = data[gallon_liste]
cufeet_df = data[cufeet_liste]

kwh_df = kwh_df.melt(id_vars='DOEID', var_name='Purpose_of_Usage', value_name = 'KWH' )
btu_df = btu_df.melt(id_vars='DOEID', var_name='Purpose_of_Usage', value_name = 'BTU' )
gallon_df = gallon_df.melt(id_vars='DOEID', var_name='Purpose_of_Usage', value_name = 'GALLON' )
cufeet_df = cufeet_df.melt(id_vars='DOEID', var_name='Purpose_of_Usage', value_name = 'CUBIC_FEET' )

In [88]:
solar_user = data[['DOEID', 'USESOLAR']]

In [89]:

btu_df['Purpose_of_Usage'] = btu_df.Purpose_of_Usage.str[3:]
btu_df['Purpose'] = btu_df.Purpose_of_Usage.str[-3:]
btu_df['Type'] = btu_df.Purpose_of_Usage.str[:-3]
btu_df= btu_df.sort_values(by='DOEID')

In [90]:
btu_df.drop('Purpose_of_Usage', inplace=True, axis=1)

In [91]:
btu_df = btu_df[['DOEID','Purpose', 'Type', 'BTU']]

In [92]:
btu_df.loc[btu_df["Purpose"] == 'OOD', "Purpose"] = "WOOD"
btu_df.loc[btu_df["Purpose"] == 'SPH', "Purpose"] = "Space Heating"
btu_df.loc[btu_df["Purpose"] == 'WTH', "Purpose"] = "Water Heating"
btu_df.loc[btu_df["Purpose"] == 'OTH', "Purpose"] = "Other"
btu_df.loc[btu_df["Purpose"] == 'RFG', "Purpose"] = "Refrigerator"
btu_df.loc[btu_df["Purpose"] == 'COL', "Purpose"] = "Air Conditioner"

In [93]:
btu_df_updated = btu_df

In [94]:
btu_df_updated

        DOEID          Purpose Type        BTU
0           1    Space Heating   LP      0.000
193328      1     Refrigerator   EL   5170.899
24166       1            Other   LP      0.000
181245      1  Air Conditioner   EL  10470.729
36249       1    Space Heating   NG      0.000
...       ...              ...  ...        ...
157078  12083    Space Heating   EL    327.116
169161  12083    Water Heating   EL      0.000
181244  12083            Other   EL   4262.461
96663   12083    Water Heating   FO      0.000
217493  12083             WOOD    W      0.000

[217494 rows x 4 columns]

In [95]:
cufeet_df['Purpose_of_Usage'] = cufeet_df.Purpose_of_Usage.str[6:]
cufeet_df['Purpose'] = cufeet_df.Purpose_of_Usage.str[-3:]

In [96]:
cufeet_df['Type'] = cufeet_df.Purpose_of_Usage.str[0:-3]
cufeet_df = cufeet_df[['DOEID', 'Type', 'Purpose', 'CUBIC_FEET']]
cufeet_df.sort_values(by='DOEID')
cufeet_df.value_counts('Type')

Type
NG    36249
dtype: int64

In [97]:
cufeet_df.loc[cufeet_df["Purpose"] == 'OOD', "Purpose"] = "WOOD"
cufeet_df.loc[cufeet_df["Purpose"] == 'SPH', "Purpose"] = "Space Heating"
cufeet_df.loc[cufeet_df["Purpose"] == 'WTH', "Purpose"] = "Water Heating"
cufeet_df.loc[cufeet_df["Purpose"] == 'OTH', "Purpose"] = "Other"
cufeet_df.loc[cufeet_df["Purpose"] == 'RFG', "Purpose"] = "Refrigerator"
cufeet_df.loc[cufeet_df["Purpose"] == 'COL', "Purpose"] = "Air Conditioner"

In [98]:
cufeet_df.groupby(['Type', 'Purpose'], as_index=True).mean('CUBIC_FEET')

                     DOEID  CUBIC_FEET
Type Purpose
NG   Other          6042.0   46.166379
     Space Heating  6042.0  249.091509
     Water Heating  6042.0  110.050895

In [99]:
cufeet_df_updated = cufeet_df

In [100]:
gallon_df['Purpose_of_Usage'] = gallon_df.Purpose_of_Usage.str[6:]
gallon_df['Type'] = gallon_df.Purpose_of_Usage.str[:-3]
gallon_df['Purpose'] = gallon_df.Purpose_of_Usage.str[-3:]

gallon_df= gallon_df.sort_values(by='DOEID')

In [101]:
gallon_df = gallon_df[['DOEID', 'Purpose', 'Type', 'GALLON']]

In [102]:
gallon_df.loc[gallon_df["Purpose"] == 'OOD', "Purpose"] = "WOOD"
gallon_df.loc[gallon_df["Purpose"] == 'SPH', "Purpose"] = "Space Heating"
gallon_df.loc[gallon_df["Purpose"] == 'WTH', "Purpose"] = "Water Heating"
gallon_df.loc[gallon_df["Purpose"] == 'OTH', "Purpose"] = "Other"
gallon_df.loc[gallon_df["Purpose"] == 'RFG', "Purpose"] = "Refrigerator"
gallon_df.loc[gallon_df["Purpose"] == 'COL', "Purpose"] = "Air Conditioner"

In [103]:
gallon_df_updated = gallon_df

In [104]:
kwh_df['Purpose'] = kwh_df.Purpose_of_Usage.str[-3:]
kwh_df['Type'] = 'EL'
kwh_df = kwh_df[['DOEID', 'Purpose','Type', 'KWH']]
kwh_df.sort_values(by='DOEID')
kwh_df

       DOEID Purpose Type       KWH
0          1     SPH   EL  3186.707
1          2     SPH   EL     0.000
2          3     SPH   EL     0.000
3          4     SPH   EL     0.000
4          5     SPH   EL     0.000
...      ...     ...  ...       ...
60410  12079     RFG   EL   566.544
60411  12080     RFG   EL   580.105
60412  12081     RFG   EL  2172.621
60413  12082     RFG   EL  1851.648
60414  12083     RFG   EL   418.766

[60415 rows x 4 columns]

In [105]:
kwh_df.loc[kwh_df["Purpose"] == 'OOD', "Purpose"] = "WOOD"
kwh_df.loc[kwh_df["Purpose"] == 'SPH', "Purpose"] = "Space Heating"
kwh_df.loc[kwh_df["Purpose"] == 'WTH', "Purpose"] = "Water Heating"
kwh_df.loc[kwh_df["Purpose"] == 'OTH', "Purpose"] = "Other"
kwh_df.loc[kwh_df["Purpose"] == 'RFG', "Purpose"] = "Refrigerator"
kwh_df.loc[kwh_df["Purpose"] == 'COL', "Purpose"] = "Air Conditioner"

In [106]:
kwh_df_updated = kwh_df

In [107]:
btu_kwh = pd.merge(btu_df_updated,kwh_df_updated, on=['DOEID','Purpose', 'Type'] , how='outer').rename(columns={'quantity_x': 'BTU', 'quantity_y':'KWH'})

In [108]:
gallon_cufeet = pd.merge(gallon_df_updated, cufeet_df_updated, on=['DOEID','Purpose', 'Type'] , how='outer').rename(columns={'quantity_x': 'GALLON', 'quantity_y':'CUBIC_FEET'})

In [109]:

total = pd.merge(btu_kwh,gallon_cufeet, on=['DOEID','Purpose', 'Type'] , how='outer')

In [110]:
total = total.fillna(0)
total = total.drop(total[((total['BTU'] == 0) & (total['KWH'] == 0) & (total['GALLON'] == 0) & (total['CUBIC_FEET'] == 0))].index)

In [111]:
total

        DOEID          Purpose Type        BTU       KWH  GALLON  CUBIC_FEET
1           1     Refrigerator   EL   5170.899  1515.504     0.0       0.000
3           1  Air Conditioner   EL  10470.729  3068.795     0.0       0.000
5           1            Other   EL  26362.973  7726.545     0.0       0.000
8           1    Water Heating   EL  10128.354  2968.450     0.0       0.000
9           1    Space Heating   EL  10873.045  3186.707     0.0       0.000
...       ...              ...  ...        ...       ...     ...         ...
217482  12083    Water Heating   NG   8016.558     0.000     0.0      78.210
217483  12083            Other   NG   2628.840     0.000     0.0      25.647
217484  12083     Refrigerator   EL   1428.717   418.766     0.0       0.000
217489  12083    Space Heating   EL    327.116    95.880     0.0       0.000
217491  12083            Other   EL   4262.461  1249.354     0.0       0.000

[67103 rows x 7 columns]

In [112]:
total_and_solar = pd.merge(total, solar_user, on='DOEID', how='outer')

In [113]:
total_and_solar

,DOEID,Purpose,Type,BTU,KWH,GALLON,CUBIC_FEET,USESOLAR
0,1,Refrigerator,EL,5170.899,1515.504,0.0,0.000,0
1,1,Air Conditioner,EL,10470.729,3068.795,0.0,0.000,0
2,1,Other,EL,26362.973,7726.545,0.0,0.000,0
3,1,Water Heating,EL,10128.354,2968.450,0.0,0.000,0
4,1,Space Heating,EL,10873.045,3186.707,0.0,0.000,0
...,...,...,...,...,...,...,...,...
67098,12083,Water Heating,NG,8016.558,0.000,0.0,78.210,0
67099,12083,Other,NG,2628.840,0.000,0.0,25.647,0
67100,12083,Refrigerator,EL,1428.717,418.766,0.0,0.000,0
67101,12083,Space Heating,EL,327.116,95.880,0.0,0.000,0
67102,12083,Other,EL,4262.461,1249.354,0.0,0.000,0