In [8]:
import pandas as pd
import numpy as np
%run energy_df_1.ipynb

In [9]:
gallon_df['Purpose_of_Usage'] = gallon_df.Purpose_of_Usage.str[6:]
gallon_df['Type'] = gallon_df.Purpose_of_Usage.str[:-3]
gallon_df['Purpose'] = gallon_df.Purpose_of_Usage.str[-3:]

gallon_df= gallon_df.sort_values(by='DOEID')
gallon_df

        DOEID Purpose_of_Usage  quantity Type Purpose
0           1            LPSPH       0.0   LP     SPH
84581       1           KERWTH       0.0  KER     WTH
24166       1            LPOTH       0.0   LP     OTH
12083       1            LPWTH       0.0   LP     WTH
96664       1           KEROTH       0.0  KER     OTH
...       ...              ...       ...  ...     ...
84580   12083           KERSPH       0.0  KER     SPH
72497   12083            FOOTH       0.0   FO     OTH
36248   12083            LPOTH       0.0   LP     OTH
24165   12083            LPWTH       0.0   LP     WTH
108746  12083           KEROTH       0.0  KER     OTH

[108747 rows x 5 columns]

In [10]:
gallon_df = gallon_df[['DOEID', 'Purpose', 'Type', 'quantity']]

In [11]:
gallon_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108747 entries, 0 to 108746
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   DOEID     108747 non-null  int64
 1   Purpose   108747 non-null  object
 2   Type      108747 non-null  object
 3   quantity  108747 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.1+ MB

In [12]:
gallon_df.loc[gallon_df["Purpose"] == 'OOD', "Purpose"] = "WOOD"
gallon_df.loc[gallon_df["Purpose"] == 'SPH', "Purpose"] = "Space Heating"
gallon_df.loc[gallon_df["Purpose"] == 'WTH', "Purpose"] = "Water Heating"
gallon_df.loc[gallon_df["Purpose"] == 'OTH', "Purpose"] = "Other"
gallon_df.loc[gallon_df["Purpose"] == 'RFG', "Purpose"] = "Refrigerator"
gallon_df.loc[gallon_df["Purpose"] == 'COL', "Purpose"] = "Air Conditioner"

In [13]:
gallon_df.groupby(['Type', 'Purpose'], as_index=True).mean('quantity')

                     DOEID   quantity
Type Purpose
FO   Other          6042.0   0.536883
     Space Heating  6042.0  37.233499
     Water Heating  6042.0   5.293509
KER  Other          6042.0   0.170239
     Space Heating  6042.0   1.328726
     Water Heating  6042.0   0.067698
LP   Other          6042.0   6.036213
     Space Heating  6042.0  28.244347
     Water Heating  6042.0   6.803276

In [14]:
gallon_df_updated = gallon_df