In [6]:
import pandas as pd
import numpy as np
%run energy_df_1.ipynb

In [7]:
kwh_df['Purpose'] = kwh_df.Purpose_of_Usage.str[-3:]
kwh_df['Type'] = 'EL'
kwh_df = kwh_df[['DOEID', 'Purpose','Type', 'quantity']]
kwh_df.sort_values(by='DOEID')
kwh_df

       DOEID Purpose Type  quantity
0          1     SPH   EL  3186.707
1          2     SPH   EL     0.000
2          3     SPH   EL     0.000
3          4     SPH   EL     0.000
4          5     SPH   EL     0.000
...      ...     ...  ...       ...
60410  12079     RFG   EL   566.544
60411  12080     RFG   EL   580.105
60412  12081     RFG   EL  2172.621
60413  12082     RFG   EL  1851.648
60414  12083     RFG   EL   418.766

[60415 rows x 4 columns]

In [8]:
kwh_df.loc[kwh_df["Purpose"] == 'OOD', "Purpose"] = "WOOD"
kwh_df.loc[kwh_df["Purpose"] == 'SPH', "Purpose"] = "Space Heating"
kwh_df.loc[kwh_df["Purpose"] == 'WTH', "Purpose"] = "Water Heating"
kwh_df.loc[kwh_df["Purpose"] == 'OTH', "Purpose"] = "Other"
kwh_df.loc[kwh_df["Purpose"] == 'RFG', "Purpose"] = "Refrigerator"
kwh_df.loc[kwh_df["Purpose"] == 'COL', "Purpose"] = "Air Conditioner"

In [9]:
kwh_df.value_counts('Purpose')
kwh_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60415 entries, 0 to 60414
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DOEID     60415 non-null  int64
 1   Purpose   60415 non-null  object
 2   Type      60415 non-null  object
 3   quantity  60415 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.8+ MB

In [10]:
kwh_df.groupby(['Purpose'], as_index=False)['quantity'].mean()

           Purpose     quantity
0  Air Conditioner  1685.269124
1            Other  6299.518633
2     Refrigerator  1243.170014
3    Space Heating   999.018141
4    Water Heating  1061.183490

In [11]:
kwh_df_updated = kwh_df