In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cbook as cbook

%run btu_df.ipynb
%run kwh_df.ipynb
%run gallon_df.ipynb
%run cubic_feet_df.ipynb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60415 entries, 0 to 60414
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DOEID     60415 non-null  int64
 1   Purpose   60415 non-null  object
 2   Type      60415 non-null  object
 3   quantity  60415 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 108747 entries, 0 to 108746
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   DOEID     108747 non-null  int64
 1   Purpose   108747 non-null  object
 2   Type      108747 non-null  object
 3   quantity  108747 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36249 entries, 0 to 36248
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DOEID             36249 non-null  int64
 1   Purpose_of_Usage  36249 non-null  object
 2   quantity          36249 non-null  float64
 3   Purpose           36249 non-null  object
 4   Type              36249 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ MB

In [32]:
btu_df

        DOEID Purpose_of_Usage  quantity
0           1         BTULPSPH       0.0
1           2         BTULPSPH       0.0
2           3         BTULPSPH       0.0
3           4         BTULPSPH       0.0
4           5         BTULPSPH       0.0
...       ...              ...       ...
217489  12079          BTUWOOD   20000.0
217490  12080          BTUWOOD       0.0
217491  12081          BTUWOOD       0.0
217492  12082          BTUWOOD       0.0
217493  12083          BTUWOOD       0.0

[217494 rows x 3 columns]

In [33]:
gallon_df

        DOEID Purpose_of_Usage  quantity
0           1      GALLONLPSPH       0.0
1           2      GALLONLPSPH       0.0
2           3      GALLONLPSPH       0.0
3           4      GALLONLPSPH       0.0
4           5      GALLONLPSPH       0.0
...       ...              ...       ...
108742  12079     GALLONKEROTH       0.0
108743  12080     GALLONKEROTH       0.0
108744  12081     GALLONKEROTH       0.0
108745  12082     GALLONKEROTH       0.0
108746  12083     GALLONKEROTH       0.0

[108747 rows x 3 columns]