In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cbook as cbook

%run btu_df.ipynb
%run kwh_df.ipynb
%run gallon_df.ipynb
%run cubic_feet_df.ipynb

Exception: File `'btu_df.ipynb.py'` not found.

In [75]:
btu_kwh = pd.merge(btu_df_updated,kwh_df_updated, on=['DOEID','Purpose', 'Type'] , how='outer').rename(columns={'quantity_x': 'BTU', 'quantity_y':'KWH'})

In [76]:
gallon_cufeet = pd.merge(gallon_df_updated, cufeet_df_updated, on=['DOEID','Purpose', 'Type'] , how='outer').rename(columns={'quantity_x': 'GALLON', 'quantity_y':'CUBIC_FEET'})

In [77]:
btu_kwh

        DOEID          Purpose Type        BTU       KWH
0           1    Space Heating   LP      0.000       NaN
1           1     Refrigerator   EL   5170.899  1515.504
2           1            Other   LP      0.000       NaN
3           1  Air Conditioner   EL  10470.729  3068.795
4           1    Space Heating   NG      0.000       NaN
...       ...              ...  ...        ...       ...
217489  12083    Space Heating   EL    327.116    95.880
217490  12083    Water Heating   EL      0.000     0.000
217491  12083            Other   EL   4262.461  1249.354
217492  12083    Water Heating   FO      0.000       NaN
217493  12083             WOOD    W      0.000       NaN

[217494 rows x 5 columns]

In [102]:
btu = btu_kwh.dropna()

In [103]:
btu_kwh = btu_kwh.drop(btu_kwh[((btu_kwh['BTU'] == 0) & (btu_kwh['KWH'].isnull()))].index)

In [104]:
btu_kwh = btu_kwh.drop(btu_kwh[((btu_kwh['KWH'] == 0) & (btu_kwh['BTU'].isnull()))].index)

In [107]:
btu_kwh = btu_kwh.drop(btu_kwh[((btu_kwh['BTU'] == 0) & (btu_kwh['KWH'] == 0))].index)

In [108]:
btu_kwh

        DOEID          Purpose Type        BTU       KWH
1           1     Refrigerator   EL   5170.899  1515.504
3           1  Air Conditioner   EL  10470.729  3068.795
5           1            Other   EL  26362.973  7726.545
8           1    Water Heating   EL  10128.354  2968.450
9           1    Space Heating   EL  10873.045  3186.707
...       ...              ...  ...        ...       ...
217482  12083    Water Heating   NG   8016.558       NaN
217483  12083            Other   NG   2628.840       NaN
217484  12083     Refrigerator   EL   1428.717   418.766
217489  12083    Space Heating   EL    327.116    95.880
217491  12083            Other   EL   4262.461  1249.354

[67103 rows x 5 columns]

In [93]:
gallon_cufeet

        DOEID        Purpose Type   GALLON  CUBIC_FEET
199        23  Water Heating   FO   96.000         NaN
205        23  Space Heating   FO  604.000         NaN
273        31  Space Heating   FO  377.249         NaN
277        31  Water Heating   FO  124.751         NaN
328        37          Other   LP   90.000         NaN
...       ...            ...  ...      ...         ...
144991  12079          Other   NG      NaN       0.000
144992  12080          Other   NG      NaN      19.949
144993  12081          Other   NG      NaN     192.014
144994  12082          Other   NG      NaN      32.810
144995  12083          Other   NG      NaN      25.647

[39473 rows x 5 columns]

In [91]:
gallon_cufeet = gallon_cufeet.drop(gallon_cufeet[((gallon_cufeet['GALLON'] == 0) & (gallon_cufeet['CUBIC_FEET'].isnull()))].index)

In [95]:
gallon_cufeet = gallon_cufeet.drop(gallon_cufeet[((gallon_cufeet['CUBIC_FEET'] == 0) & (gallon_cufeet['GALLON'].isnull()))].index)

In [96]:
gallon_cufeet

        DOEID        Purpose Type   GALLON  CUBIC_FEET
199        23  Water Heating   FO   96.000         NaN
205        23  Space Heating   FO  604.000         NaN
273        31  Space Heating   FO  377.249         NaN
277        31  Water Heating   FO  124.751         NaN
328        37          Other   LP   90.000         NaN
...       ...            ...  ...      ...         ...
144983  12071          Other   NG      NaN      53.564
144992  12080          Other   NG      NaN      19.949
144993  12081          Other   NG      NaN     192.014
144994  12082          Other   NG      NaN      32.810
144995  12083          Other   NG      NaN      25.647

[20615 rows x 5 columns]

In [109]:
total = pd.merge(btu_kwh,gallon_cufeet, on=['DOEID','Purpose', 'Type'] , how='outer')

In [111]:
total.head(100)

    DOEID          Purpose Type        BTU       KWH  GALLON  CUBIC_FEET
0       1     Refrigerator   EL   5170.899  1515.504     NaN         NaN
1       1  Air Conditioner   EL  10470.729  3068.795     NaN         NaN
2       1            Other   EL  26362.973  7726.545     NaN         NaN
3       1    Water Heating   EL  10128.354  2968.450     NaN         NaN
4       1    Space Heating   EL  10873.045  3186.707     NaN         NaN
..    ...              ...  ...        ...       ...     ...         ...
95     18    Water Heating   NG  12366.476       NaN     NaN     120.648
96     18    Space Heating   NG  52946.003       NaN     NaN     516.543
97     19    Water Heating   NG  24000.869       NaN     NaN     234.153
98     19     Refrigerator   EL   5290.126  1550.469     NaN         NaN
99     19    Space Heating   NG  45358.681       NaN     NaN     442.521

[100 rows x 7 columns]